.mainContainer {
	max-width: 70%;
	height: 100vh;
	margin-bottom: 20px;
	margin-top: 0;
}

.banner {
	height: 5rem;
}

.identity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.poke-num-name {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 12px 8px 12px;
	border-radius: 10px;
	border: 1px solid #f59342;
}

.links {
	color: #f59342;
	font-size: 15px;
}

.images {
	text-align: center;
}

.images > div {
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
  border: 1px solid #f59342;
}

.stats {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
  border: 1px solid #f59342;
}

#moves {
	column-count: 5; /* Number of columns */
	column-gap: 20px; /* Space between columns */
	list-style-position: inside;
}

.flavour {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 0 20px 20px 20px;
  border: 1px solid #f59342;
}

.evo-box {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 0 20px 20px 20px;
  border: 1px solid #f59342;
}

.evo-row {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
