body {
	background-color: #1d2e27;
	background-image: url("/images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
<<<<<<< HEAD
=======
	height: 100vh;
	margin: 0;
>>>>>>> 58a7586 (Centered (mostly) the carousel. Expanded the background image to always fill the whole browser screen.)
	color: white;
}
