.banner {
	max-width: 1140px;
	height: 5rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 40px auto;
}

.search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
}

.search-field {
	width: 70%;
	border: 1px solid #000;
	border-radius: 10px;
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
}

.search-button {
	margin-right: 10px;
}

.filter-button {
	margin-right: 10px;
}

.drawer {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	color: #42a5f5;
}

.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
	padding: auto;
}

.innerCarousel {
	display: flex;
	margin: 10px;
	padding: 5px;
	scroll-behavior: smooth;
	justify-content: center;
}

.carousel-item {
	flex: 0 0 25%;
	text-align: center;
	padding: 10px;
}

.footer {
	height: 15rem;
}
