.button {
	max-width: 1140px;
	margin: 40px auto;
	display: grid;
	grid-gap: 10px;
	justify-items: left;
}

.pokemon-container {
	max-width: 1140px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
}

.carousel-item {
	width: 100%;
	margin: 0 0 20px 0;
	display: inline-block;
	text-align: center;
}

.links {
	color: #f59342;
	font-size: 15px;
}